# Sampah dan Cache Unity (HARAM DI-PUSH)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# File buatan Mac/Windows
.DS_Store
Thumbs.db
# File buatan Visual Studio (Biar repo makin bersih)
*.csproj
*.sln
.vs/
.vscode/